doctype html
html
  head
      block head
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navBar.css')
        //- script(src='/javascripts/search.js' type='module')
        title ShowMe - #{title}
  body
    div(class='container')
      div(class='navBar')
        div(class='navbar-left')
          div(class='logo')
            a(href='/' class='showMe') ShowMe
          div(class='search')
            form(action='/search' method='post' role='search' class='search-button search')
              input(type='text' placeholder='Search Shows' id='search-input' name='searchInput' class='search')
              button(type='submit' class='search') Search
        div(class='navbar-right')
          if user
            div(class='myshow-dev')
              a(href='/showshelves' class='myShowShelf') My ShowShelves
            form(method='post' action='/users/logout' class='logout-form')
              button(type='submit' class='logout-button') Logout
          else 
            a(href='/users/login' class='login') Login
            a(href='/users/signup' class='signup') Signup
    block content
