doctype html
html
  head
      block head
        link(rel='stylesheet' href='/stylesheets/reset.css')
        title ShowMe - #{title}
  body
    nav
      a(href='/') ShowMe
      div
        form(action='/search' role='search')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='text' placeholder='Search Shows')
          button(type='submit') Search
    block content
