doctype html
html
  head
      block head
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navBar.css')
        script(src="https://kit.fontawesome.com/5396543830.js" crossorigin="anonymous")
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        //- script(src='/javascripts/search.js' type='module')
        title ShowMe - #{title}
  body
    div(class='container')
      div(class='navBar')
        div(class='navbar-left')
          div(class='logo')
            a(href='/' class='show') 
              span(class='show') Show
              span(class='me') Me
            //- a(href='/' class='me') Me
          div(class='search')
            form(action='/search' method='post' role='search' class='search-button search')
              input(type='text' placeholder='    Search Shows' id='search-input' name='searchInput' class='search')
              button(type='submit' id='search-btn' class='search-btn')
                a( class="fa fa-search")
                //- <i class="fa-solid fa-magnifying-glass"></i>
                //- span(class='material-icons-outlined') search
                //- md-icon(class="material-icons-outlined")
          


              //- button(type='submit' id='search-btn' class='search') Search
        div(class='navbar-right')
          if user
            div(class='myshow-dev')
              a(href='/showshelves' class='myShowShelf') My ShowShelves
            form(method='post' action='/users/logout' class='logout-form')
              button(type='submit' class='logout-button') Logout
          else
            a(href='/users/login' class='login') Login
            a(href='/users/signup' class='signup') Signup
    block content
    footer
        div(class='footer')
            div(class='ind-links')
                a(href="https://nm15-vge.github.io/" target="_blank") Mauro Sanchez
                div(class='github-linkedin')
                    a(href="www.linkedin.com/in/mauro-sanchez-a3220a20b" target="_blank")
                        i(class="fab fa-linkedin")
                    a(href="https://github.com/nM15-vge" target="_blank")
                        i(class="fab fa-github")
            div(class='ind-links')
                a(href="https://heba11-22.github.io/" target="_blank") Heba Elkasaby
                div(class='github-linkedin')
                    a(href="https://www.linkedin.com/in/heba-e-3091261b5/" target="_blank")
                        i(class="fab fa-linkedin")
                    a(href="https://github.com/Heba11-22" target="_blank")
                        i(class="fab fa-github")
            div(class='ind-links')
                a(href="https://savannahrice.github.io/" target="_blank") Savannah Rice
                div(class='github-linkedin')
                    a(href="https://www.linkedin.com/in/savannah-rice/" target="_blank")
                        i(class="fab fa-linkedin")
                    a(href="https://github.com/SavannahRice" target="_blank")
                        i(class="fab fa-github")
            div(class='ind-links')
                a(href="" target="_blank") Sean Rader
                div(class='github-linkedin')
                    a(href="https://www.linkedin.com/in/sean-rader-9ba95850/" target="_blank")
                        i(class="fab fa-linkedin")
                    a(href="https://github.com/sjrader" target="_blank")
                        i(class="fab fa-github")
            div(class='ind-links')
                a(href="https://ashley-brown13.github.io/" target="_blank") Ashley Brown
                div(class='github-linkedin')
                    a(href="https://www.linkedin.com/in/ashleybrown121389/" target="_blank")
                        i(class="fab fa-linkedin")
                    a(href="https://github.com/ashley-brown13" target="_blank")
                        i(class="fab fa-github")
            p(class="copyright") &copy; 2021 The Vikings
