doctype html
html
  head
      block head
        link(rel='stylesheet' href='/stylesheets/reset.css')
        //- script(src='/javascripts/search.js' type='module')
        title ShowMe - #{title}
  body
    nav
      div
        a(href='/') ShowMe
      div
        a(href='/users/login') Login
      div
        a(href='/users/signup') Signup
      div
        form(action='/search' method='post' role='search' class='search-button')
          input(type='text' placeholder='Search Shows' id='search-input' name='searchInput')
          button(type='submit') Search
    block content
