extends layout
include utils
append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  p(class="homePageTitle") Results
  div(class='showBlock')
    each show in shows
      div(value=show.id)
      div(class="individualShow")
        div(class='titleDiv')
          a(href=`/shows/${show.id}` class="showTitle")= show.title
          div
            a(href=`/shows/${show.id}` )
              img(src=show.imageURL class="showImage")

