extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/add-showshelves.js" type="module" defer)

block content
  table
    thead
      tr
        th ShowShelf
        th Delete
    tbody
      each showShelf in showShelves
        tr
          td: a(href=`/showshelves/${showShelf.id}`)= showShelf.title
          td
            form(action=`/showShelves/${showShelf.id}` method='post')
              button(type="submit" name='title') Delete
  div
    form(action='/showShelves' method='post')
      label(for="shelfAdd") Want to add a new shelf?
      input(type='text' name="title" id="shelfAdd" placeholder='Title of Shelf')
      button(type='submit' id ="add-showshelf") Add
