extends layout

block content
  table
    thead
      tr
        th Poster
        th Title
        th Delete
    tbody
      each show in shows
        tr
          td: img(src=show.imageURL)
          td= show.title
