extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/showshelves.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="showShelvesPageTitle") ShowShelves
  div(class="showShelvesDiv")
    each showShelf in showShelves
      div(class="showShelvesContainer")
        a(href=`/showshelves/${showShelf.id}` class="showShelvesTitle")= showShelf.title
        div(class="showShelvesDelete")
          form(action=`/showShelves/${showShelf.id}` method='post' class="showShelvesDelete")
            button(type="submit" name='title' class="showShelvesFormDelete") Delete
  div
    form(action='/showShelves' method='post' class="addShelfForm")
      label(for="shelfAdd" class="addShelfFormLabel") Want to add a new shelf?
      input(type='text' name="title" id="shelfAdd" placeholder='Title of Shelf' class="addShelfFormInput")
      button(type='submit' id ="add-showshelf" class="addShelfFormButton") Add
