extends layout

block content
  table
    thead
      tr
        th Poster
        th Title
        th Rating
        th Review
    tbody
      each show in shows
        tr
          td: img(src=show.imageURL)
          td= show.title
          //- td= show.Rating.rating
          td= show.Reviews.comment
