h1 {
    color: #555555;
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.showBlock {
    display: flex;
    flex-wrap: wrap;
}

.showImage {
    width: 260px;
    padding: 5px;
}

.individualShow {
    display: flex;
    margin: 20px;
    
    
}

.showOptionsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleDiv {
    display:flex;
    flex-direction: column;
}

.showOptionsBtn {
    padding: 10px;
    margin: 5px;
}