a{
  text-decoration: none;
}

@media screen and (max-width:821px){ 

  .navbar{
    display: flex;
    justify-content: center;
  }


  .myShowShelf{
    padding-left: 115px;
  }

  .search{
    display: none;
  }
}


.container {
  background-color:#e2dccf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* padding: 15px; */
  width: 100%;
  height: 4rem;
  display: flex;

  }

.navBar{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: auto;
}

.navbar-left{
  display: flex;
  margin-left: -5rem;
}

.navbar-right{
  display: flex;
  margin-right: -10rem;
}

.logo {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show,
.me{
  color: #555555;
  font-size: 30px;
  font-family: Helvetica Neue UltraLight;
}

.me{
  font-weight: bolder;
}

.search-button {
  top: 30px;
  left: 575px;
  background: transparent;
}

input {
  height: 35px;
  width: 300px;
  border-radius: 10px;
  margin-top: 7px;
} 
.fa-search,
.search-btn{
  /* background-color:#e2dccf; */
  border: none;
  font-size: 20px;
  margin-left: -20px;
}
/* .fa-search{

} */

.search {
  margin-left: 5px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  font-size:medium;
  border: none;
}

.login,
.myShowShelf {
  color: #555555;
  font-weight: bold;
  padding-right: 20px;
} 

.signup,
.logout-button {
   margin-right: 150px;
   font-weight: bold;
   color: #555555;
}

.logout-button{
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

.logout-form,
.logout-button{
  background-color: transparent;
  font-size:medium;
}