* {
    background-color: #F9F7F4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-weight: bold;
}
.showInfo {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 20px 50px 20px 20px;
}
.img {
    max-width: 100%;
    height: auto;
}

.showText {
    flex-direction: column;
    padding: 20px;
    align-self: center;
}

p {
    background-color: white;
}


.videoPreview {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.showReviews {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-weight: bold;
}
.reviews {
    border: 5px solid #F9F7F4;
    width: 400px;
    background-color: white;
    padding: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
}
.edit-review, .delete-review {
    margin: 10px;
}

.fab {
    font-size: 40px;
    background-color: #E2DCCF;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #E2DCCF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.ind-links {
    display: flex;
    flex-direction: column;
}

.github-linkedin {
    display:flex;
    justify-content: space-around;
}

.copyright {
    background-color: #E2DCCF
}

footer {
    position: relative;
    bottom:0;
    width:100%;   /* Height of the footer */
 }

 .total-show {
   min-height: 100vh;
 }
