* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #F4F1EB
}

.showShelvesPageTitle{
  font-size: 50px;
  text-align: center
}

.showShelvesDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px;
}

.showShelvesContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  background-color: white;
  margin: 5px;
}

.showShelvesTitle{
  font-size: 20px;
  margin: 5px;
}

.showShelvesDelete{
  background-color: white;
}

.showShelvesFormDelete{
  font-size: 15px;
}

.addShelfForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addShelfFormLabel{
  font-size: 20px;
  margin: 3px;
}

.addShelfFormInput{
  text-align: center;
  font-size: 15px;
  background-color: white;
  margin: 5px;
}

.addShelfFormButton{
  font-size: 15px;
}

a{
  text-decoration: none;
}

a:hover{
  color: blue;
}

.fab {
    font-size: 40px;
    background-color: #E2DCCF;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #E2DCCF;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.ind-links {
    display: flex;
    flex-direction: column;
}

.github-linkedin {
    display:flex;
    justify-content: space-around;
}

.copyright {
    background-color: #E2DCCF
}

footer {
    position:absolute;
    bottom:0;
    width:100%;   /* Height of the footer */
 }
