.container-stars{
  display: flex;
}
.star{
  width: 30px;
  height: 45px;
  background-image: url("../images/star.jpg");
  background-size: 45px;
  color: transparent;
  background-repeat: no-repeat;

}
.star:hover{
  background-image: url('../images/color-star.jpg');
  background-size: 45px;
}
