.container-stars{
  display: flex;
}
.star{
  width: 30px;
  height: 45px;
  font-size: 0px;
  background-repeat: no-repeat;

}
.star.off {
  background-image: url("../images/star.jpg");
  background-size: 45px;
}
.star.on {
  background-image: url('../images/color-star.jpg');
  background-size: 45px;
}

.background{
  background-color: white;
}
