* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #F4F1EB;
}

.signUpParentDiv{
  display: flex;
  justify-content: center;
}

.signupFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid #E2DCCF;
  margin-top: 200px;
  height: 400px;
  padding:10px;
  max-width: fit-content;
  background-color: white;
  border-radius: 10%;
}

.fullNameField,
.emailField,
.passwordField,
.login,
.demoUser {
    margin: 10px;
    background-color: white;
}

.fullName,
.email,
.password,
.formDiv {
  background-color: white;
}

.submitButton {
  margin: 10px;
  display: inline-block;
  width:auto;
}
